﻿@model NNClubs.Models.Country

@{
    ViewData["Title"] = "Country Details";
}

<h1>Country Details</h1>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostalPattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostalPattern)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhonePattern)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhonePattern)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FederalSalesTax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FederalSalesTax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProvinceTerminology)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProvinceTerminology)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CountryCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
